
@{
    ViewBag.Title = "Оформленный заказ";
}

<h2>Поздравляем, заказ оформлен успешно!</h2>
<h2>Номер вашего заказа @Session["OrderId"]</h2>
<h2>Спасибо за покупку!</h2>
<h2>Мы будем рады, если вы в будущем ещё раз оформите заказ в нашем интернет-магазине! =)</h2>


