
@{
    ViewBag.Title = "Не оформленный заказ";
}

<h2>К сожалению заказ не удалось оформить. :(</h2>
<h2>Просим свои искренние извинения за приченённые неудобства.</h2>
<h2>Попробуйте ещё раз оформить заказ.</h2>
